<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/templates/static/image/favicon.ico"/>
    <title>关于 - Million</title>
    <meta name="description"
          content=""/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
    <script src="/templates/static/js/jquery.min.js"></script>
    <script src="/templates/static/js/jquery.pjax.min.js"></script>
</head>
<body class="head-fixed">
@include("/templates/views/header.html"){}
<div id="body">
    <div class="container clearfix">
        <div id="main">
            <div class="breadcrumbs">
                <a href="/">首页</a> &raquo; 关于
            </div>
            <article class="post">
                <h1 class="post-title"><a href="https://www.offodd.com/about.html">关于</a></h1>
                <div class="post-content">
                    <h2>个人简介</h2>
                    <ul>
                        <li>姓名：孙杰</li>
                        <li>昵称：JIElive</li>
                        <li>职业：销售</li>
                        <li>爱好：玩一些没玩过的</li>
                    </ul>
                    <h2>联系方式</h2>
                    <ul>
                        <li>邮箱：jielive#outlook.com</li>
                        <li>扣扣：454066640（请备注来意）</li>
                    </ul>
                    <h2>打赏</h2>
                    <p>如果您觉得本站对您有一些帮助，并且想要支持一下站长，可以通过以下方式打赏本站</p>
                    <p><img src="//static.offodd.com/uploads/rewards.png" alt="打赏二维码" title="打赏二维码"></p>
                    <h2>感谢</h2>
                    <p>感谢以下朋友的打赏</p>
                    <table>
                        <thead>
                        <tr>
                            <th>时间</th>
                            <th>昵称</th>
                            <th>金额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2019/1/12</td>
                            <td>一旧饭</td>
                            <td>￥6元</td>
                        </tr>
                        <tr>
                            <td>2019/1/19</td>
                            <td>Sirit</td>
                            <td>￥10元</td>
                        </tr>
                        <tr>
                            <td>2019/3/18</td>
                            <td>info</td>
                            <td>￥10元</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
            <div id="comments">
                <h3>评论已关闭</h3>
            </div>
        </div>
        <!--右侧栏-->
        @include("/templates/views/menu.html"){}
    </div>
</div>
@include("/templates/views/footer.html"){}
</body>
</html>