<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/templates/static/image/favicon.ico"/>
    <title>关于 - Million</title>
    <meta name="description"
          content=""/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
    <script src="/templates/static/js/jquery.min.js"></script>
    <script src="/templates/static/js/jquery.pjax.min.js"></script>
</head>
<body class="head-fixed">
@include("/templates/views/header.html"){}
<div id="body">
    <div class="container clearfix">
        <div id="main">
            <div class="breadcrumbs">
                <a href="/">首页</a> &raquo; 关于
            </div>
            <article class="post">
                <h1 class="post-title"><a href="/about">关于</a></h1>
                <div class="post-content">
                    <h2>个人简介</h2>
                    <ul>
                        <li>姓名：Kcy</li>
                        <li>昵称：Million</li>
                        <li>职业：Java开发崽</li>
                        <li>爱好：假寐</li>
                    </ul>
                    <h2>联系方式</h2>
                    <ul>
                        <li>邮箱：iwantn1\@163.com</li>
                        <li>微信：Iwantn1</li>
                        <li>扣扣：1837511637</li>
                    </ul>
                    <h2>站点</h2>
                    <ul>
                        <li>站点名称：MILLION</li>
                        <li>站点链接：<a href="http://www.kcyBlog.top" target="_blank">http://www.kcyBlog.top</a></li>
                        <li>站点描述：Million - 放弃不难，但坚持一定很酷。</li>
                        <li>站点图标：<a href="http://www.kcyBlog.top/favicon.ico" target="_blank">http://www.kcyBlog.top/favicon.ico</a></li>
                    </ul>
                    <h2>说明</h2>
                    <ul>
                        <li>该网站评论功能会已填写的网站+/favicon.ico作为评论者的头像。</li>
                        <li>如果您觉得本站对您有一些帮助，请多帮帮推广一哈，小开发崽在此感激不尽！</li>
                    </ul>
                    <h2>开发</h2>
                    <ul>
                        <li>HTML模版：套用的是<a href="https://www.offodd.com/" target="_blank">Typecho主题 - Initial 简约而不简单（v2.4.3版）</a>。感觉很酷。</li>
                        <li>模版引擎：新一代的模板引擎Beetl，功能的话，我用的不多，但性能绝对不错，超过当前流行的模板引擎。而且还易学易用，写法刚开始会有点难受，希望越来越好吧，个人项目我会一直用下去。</li>
                        <li><a href="http://ibeetl.com/" target="_blank"><img src="/templates/static/image/beetl.png"></a></li>
                        <li>框架：SpringBoot 踩坑中...</li>
                    </ul>
                    <h2>分享</h2>
                    <ul>
                        <li><a href="http://connect.qq.com/widget/shareqq/index.html?title=答案很长，我准备用一生的时间来回答，你准备要听了吗？&url=http://www.kcyBlog.top&desc=&pics=&site=" target="_blank">QQ</a></li>
                        <li><a href="http://v.t.sina.com.cn/share/share.php?url=http://www.kcyBlog.top&title=答案很长，我准备用一生的时间来回答，你准备要听了吗？" target="_blank">新浪微博</a></li>
                    </ul>
                </div>
            </article>
        </div>
        <!--右侧栏-->
        @include("/templates/views/menu.html"){}
    </div>
</div>
@include("/templates/views/footer.html"){}
</body>
</html>