<!DOCTYPE html>
@directive dynamic result;
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/templates/static/image/favicon.ico"/>
    <title>归档 - Million</title>
    <meta name="description" content="归档 --诚然，毒鸡汤当道的今天，励志显得不再那么重要。"/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
    <script src="/templates/static/js/jquery.min.js"></script>
    <script src="/templates/static/js/jquery.pjax.min.js"></script>
</head>
<body class="head-fixed">
@include("/templates/views/header.html"){}
<div id="body">
    <div class="container clearfix">
        <div id="main">
            <div class="breadcrumbs">
                <a href="/">首页</a> &raquo; 归档
            </div>
            <article class="post">
                <h1 class="post-title"><a href="/archives">归档</a></h1>
                <div id="archives">
                    @var map = result.dataWrapper.datas;
                    @for(entry in map) {
                        <h3>${entry.key} 年</h3>
                        <ul>
                            @for(var blog in entry.value) {
                                <li>${blog.createtime}：<a href="/blog/${blog.id}.html">${blog.title}</a></li>
                            @}
                        </ul>
                    @}
                </div>
            </article>
        </div>
        <!--右侧栏-->
        @include("/templates/views/menu.html"){}
    </div>
</div>
@include("/templates/views/footer.html"){}
</body>
</html>