<!DOCTYPE html>
@directive dynamic result,menuresult;
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/templates/static/image/favicon.ico"/>
    <title>留言 - Million</title>
    <meta name="description" content="来都来了，说点什么吧。"/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
    <script src="/templates/static/js/jquery.min.js"></script>
    <script src="/templates/static/js/jquery.pjax.min.js"></script>
</head>
<body class="head-fixed">
@include("/templates/views/header.html"){}
<div id="body">
    <div class="container clearfix">
        <div id="main">
            <div class="breadcrumbs">
                <a href="/">首页</a> &raquo; 留言
            </div>
            <article class="post">
                <h1 class="post-title"><a href="/guestbook">留言</a></h1>
                <div class="post-content">
                    <p>来都来了，说点什么吧。</p></div>
            </article>
            <div id="comments">
                @var evals = result.dataWrapper.datas;
                @if(evals.~size > 0) {
                <h3>已有 <span class="comment-num">73</span> 条评论</h3>
                <ol class="comment-list">
                    @for(var eval in evals) {
                    @if(eval.isuser == "1") {
                    <li class="comment-body comment-parent comment-odd comment-by-author">
                        @} else {
                    <li class="comment-body comment-parent comment-odd">
                        @}
                        <div>
                            <div class="comment-author">
                                <img class="avatar" src="${eval.heaimg}" alt="${eval.username}" width="32" height="32"/>
                                <cite>
                                    @if(eval.webLink == null || eval.webLink == '') {
                                    ${eval.username}
                                    @} else {
                                    <a href="${eval.webLink!}" rel="external nofollow" target="_blank">${eval.username}</a>
                                    @}
                                </cite>
                                @if(eval.isuser == "1") {
                                <span class="author-icon">Author</span>
                                @}
                            </div>
                            <div class="comment-meta">
                                <time>${eval.createtime}</time>
                            </div>
                            <div class="comment-content">
                                <p>${eval.content}</p></div>
                            <div class="comment-reply">
                                <a rel="nofollow" onclick="TypechoComment.reply(this)">回复</a>
                            </div>
                            <!-- 回复 -->
                            <div class="respond" style="display:none;">
                                <div class="cancel-comment-reply">
                                    <a rel="nofollow" onclick="TypechoComment.cancelReply(this);">取消回复</a>
                                </div>
                                <h3>添加新评论</h3>
                                <form method="post" action="/eval/commentMessage" class="comment-form clearfix">
                                    <p class="textarea">
                                        <textarea name="content" placeholder="加入讨论..." required></textarea>
                                    </p>
                                    <p class="textbutton">
                                        @if(menuresult.dataWrapper.isLogin) {
                                            <input type="hidden" name="isuser" value="1"/>
                                        @} else {
                                            <input type="hidden" name="isuser" value="0"/>
                                        @}
                                        <input type="hidden" name="blogid" value="0"/>
                                        <input type="hidden" name="type" value="4"/>
                                        <input type="hidden" name="firstevalid" value="${eval.evalid}"/>
                                        <input type="hidden" name="replyid" value="${eval.evalid}"/>
                                        <input type="text" name="name" class="text" placeholder="称呼 *" value="" required/>
                                        <input type="email" name="email" class="text" placeholder="邮箱 *" value="" required/>
                                        <input type="url" name="weblink" class="text" placeholder="http://" value=""/>
                                        <button type="submit" class="submit">提交评论</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- 子节点 -->
                        @for(var e in eval.voEvaluateList!) {
                        <div class="comment-children">
                            <ol class="comment-list">
                                @if(eval.isuser == "1") {
                                <li class="comment-body comment-child comment-level-even comment-odd comment-by-author">
                                    @} else {
                                <li class="comment-body comment-child comment-level-even comment-odd">
                                    @}
                                    <div>
                                        <div class="comment-author">
                                            <img class="avatar" src="${e.heaimg}" alt="${e.username}" width="32" height="32"/>
                                            <cite>
                                                @if(e.webLink == null || e.webLink == '') {
                                                ${e.username}
                                                @} else {
                                                <a href="${e.webLink!}" rel="external nofollow" target="_blank">${eval.username}</a>
                                                @}
                                            </cite>
                                            @if(eval.isuser == "1") {
                                            <span class="author-icon">Author</span>
                                            @}
                                            &nbsp;回复&nbsp;
                                            <cite>
                                                @if(e.replyweblink == null || e.replyweblink == '') {
                                                ${e.replyname}
                                                @} else {
                                                <a href="${e.replyname!}" rel="external nofollow" target="_blank">${eval.replyname}</a>
                                                @}
                                            </cite>
                                        </div>
                                        <div class="comment-meta">
                                            <time>${e.createtime}</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>${e.content}</p></div>
                                        <div class="comment-reply">
                                            <a rel="nofollow" onclick="TypechoComment.reply(this)">回复</a>
                                        </div>
                                        <!-- 回复 -->
                                        <div class="respond" style="display:none;">
                                            <div class="cancel-comment-reply">
                                                <a rel="nofollow" onclick="TypechoComment.cancelReply(this);">取消回复</a>
                                            </div>
                                            <h3>添加新评论</h3>
                                            <form method="post" action="/eval/commentMessage" class="comment-form clearfix">
                                                <p class="textarea">
                                                    <textarea name="content" placeholder="加入讨论..." required></textarea>
                                                </p>
                                                <p class="textbutton">
                                                    @if(menuresult.dataWrapper.isLogin) {
                                                        <input type="hidden" name="isuser" value="1"/>
                                                    @} else {
                                                        <input type="hidden" name="isuser" value="0"/>
                                                    @}
                                                    <input type="hidden" name="blogid" value="0"/>
                                                    <input type="hidden" name="type" value="4"/>
                                                    <input type="hidden" name="firstevalid" value="${eval.evalid}"/>
                                                    <input type="hidden" name="replyid" value="${e.evalid}"/>
                                                    <input type="text" name="name" class="text" placeholder="称呼 *" value="" required/>
                                                    <input type="email" name="email" class="text" placeholder="邮箱 *" value="" required/>
                                                    <input type="url" name="weblink" class="text" placeholder="http://" value=""/>
                                                    <button type="submit" class="submit">提交评论</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        @}
                    </li>
                    @}
                </ol>
                <ol class="page-navigator">
                    @if(result.page > 1) {
                        <li class="next"><a href="/guestbook?page=${result.page-1}">上一页</a>
                    @}
                    @for(var i = result.page - 2; i <= result.page + 2; i++) {
                        @if(i>=1 && i<=result.totalpage) {
                            @if(i == result.page) {
                                <li class="current"><a>${i}</a></li>
                            @} else {
                                <li><a href="/guestbook?page=${i}">${i}</a></li>
                            @}
                        @}
                    @}
                    @if(result.page < result.totalpage) {
                        <li class="next"><a href="/guestbook?page=${result.page+1}">下一页</a>
                    @}
                </ol>
                @}
                <div class="respond">
                    <h3 id="response">留言</h3>
                    <form method="post" action="/eval/commentMessage" id="comment-form" class="comment-form clearfix">
                        <p class="textarea">
                            <textarea name="content" id="textarea" placeholder="加入讨论..." required></textarea>
                        </p>
                        <p class="textbutton">
                            @if(menuresult.dataWrapper.isLogin) {
                                <input type="hidden" name="isuser" value="1"/>
                            @} else {
                                <input type="hidden" name="isuser" value="0"/>
                            @}
                            <input type="hidden" name="blogid" value="0"/>
                            <input type="hidden" name="type" value="3"/>
                            <input type="hidden" name="firstevalid" value="0"/>
                            <input type="text" name="name" class="text" placeholder="称呼 *" value="" required/>
                            <input type="email" name="email" class="text" placeholder="邮箱 *" value="" required/>
                            <input type="url" name="weblink" class="text" placeholder="http://" value=""/>
                            <button type="submit" class="submit">提交评论</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <!--右侧栏-->
        @include("/templates/views/menu.html"){}
    </div>
</div>
@include("/templates/views/footer.html"){}
</body>
</html>