<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>留言 - OFFODD</title>
    <meta name="description" content="来都来了，说点什么吧😆"/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
    <script src="/templates/static/js/jquery.min.js"></script>
    <script src="/templates/static/js/jquery.pjax.min.js"></script>
</head>
<body class="head-fixed">
@include("/templates/views/header.html"){}
<div id="body">
    <div class="container clearfix">
        <div id="main">
            <div class="breadcrumbs">
                <a href="https://www.offodd.com/">首页</a> &raquo; 留言
            </div>
            <article class="post">
                <h1 class="post-title"><a href="https://www.offodd.com/guestbook.html">留言</a></h1>
                <div class="post-content">
                    <p>来都来了，说点什么吧😆</p></div>
            </article>
            <div id="comments">
                <h3>已有 <span class="comment-num">73</span> 条评论</h3>
                <ol class="comment-list">
                    <li id="li-comment-1391" class="comment-body comment-parent comment-odd">
                        <div id="comment-1391">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/ca19c9e504c3b23449756ab1be1508a9?s=32&amp;r=G&amp;d="
                                     alt="刘晨晨" width="32" height="32"/><cite><a href="https://www.linguang.me"
                                                                                rel="external nofollow" target="_blank">刘晨晨</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-03-10 at 15:12</time>
                            </div>
                            <div class="comment-content">
                                <p>加载好快</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1391#respond-page-6"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1391', 1391);">回复</a>
                            </div>
                        </div>
                    </li>
                    <li id="li-comment-1378" class="comment-body comment-parent comment-even">
                        <div id="comment-1378">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/ae3c75edc0d0f942f432d7611798ce59?s=32&amp;r=G&amp;d="
                                     alt="wpl" width="32" height="32"/><cite><a href="http://blog.wangpenglei.cn"
                                                                                rel="external nofollow" target="_blank">wpl</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-03-04 at 19:42</time>
                            </div>
                            <div class="comment-content">
                                <p>老师你好！我添加背景音乐之后，为什么总是存在问题。这是我的网址，请回复下下</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1378#respond-page-6"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1378', 1378);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1397"
                                    class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                    <div id="comment-1397">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-03-13 at 09:11</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>具体是什么问题？麻烦说具体一些</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1397#respond-page-6"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1397', 1397);">回复</a></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li id="li-comment-1340" class="comment-body comment-parent comment-odd">
                        <div id="comment-1340">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/f1c07ea2b96719c6127dfac811c50dab?s=32&amp;r=G&amp;d="
                                     alt="iLiLi" width="32" height="32"/><cite><a href="https://blog.dlmgis.cn"
                                                                                  rel="external nofollow"
                                                                                  target="_blank">iLiLi</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-24 at 19:05</time>
                            </div>
                            <div class="comment-content">
                                <p>简洁漂亮，速度惊人，很适合单纯的写笔记，512m内存的低端配置都可以完美运行</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1340#respond-page-6"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1340', 1340);">回复</a>
                            </div>
                        </div>
                    </li>
                    <li id="li-comment-1285" class="comment-body comment-parent comment-even">
                        <div id="comment-1285">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/363611bd19335f72f725f3209bae87d1?s=32&amp;r=G&amp;d="
                                     alt="阿飞" width="32" height="32"/><cite><a href="http://www.huang-ln.cn"
                                                                               rel="external nofollow" target="_blank">阿飞</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-20 at 02:12</time>
                            </div>
                            <div class="comment-content">
                                <p>来瞧瞧！</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1285#respond-page-6"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1285', 1285);">回复</a>
                            </div>
                        </div>
                    </li>
                    <li id="li-comment-1278" class="comment-body comment-parent comment-odd">
                        <div id="comment-1278">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/3e3ced017d84bded4545a1baca15be6a?s=32&amp;r=G&amp;d="
                                     alt="farmer" width="32" height="32"/><cite><a href="https://suishai.com"
                                                                                   rel="external nofollow"
                                                                                   target="_blank">farmer</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-19 at 19:09</time>
                            </div>
                            <div class="comment-content">
                                <p>由于修改了头像，敬请贵站变更下本站头像地址，<br>新的头像链接为：https://en.gravatar.com/userimage/148230811/61da1aeffa2ba6154dd0c71c2245261b.jpg?size=200
                                    <br>非常感谢！</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1278#respond-page-6"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1278', 1278);">回复</a>
                            </div>
                        </div>
                    </li>
                    <li id="li-comment-1168" class="comment-body comment-parent comment-even">
                        <div id="comment-1168">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/3e552a509b9b593bc879fd0d4e9811ac?s=32&amp;r=G&amp;d="
                                     alt="六月" width="32" height="32"/><cite><a href="https://liuyuea.cn/"
                                                                               rel="external nofollow" target="_blank">六月</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-12 at 22:47</time>
                            </div>
                            <div class="comment-content">
                                <p>博客真的很快啊</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1168#respond-page-6"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1168', 1168);">回复</a>
                            </div>
                        </div>
                    </li>
                    <li id="li-comment-1167" class="comment-body comment-parent comment-odd">
                        <div id="comment-1167">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/a26d1d2d6230a48fe3885980c666448a?s=32&amp;r=G&amp;d="
                                     alt="nice" width="32" height="32"/><cite><a href="http://nice.im"
                                                                                 rel="external nofollow"
                                                                                 target="_blank">nice</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-10 at 18:56</time>
                            </div>
                            <div class="comment-content">
                                <p>新年快乐</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1167#respond-page-6"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1167', 1167);">回复</a>
                            </div>
                        </div>
                    </li>
                    <li id="li-comment-1166" class="comment-body comment-parent comment-even">
                        <div id="comment-1166">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/e8c33d312764588f085c6570d2036598?s=32&amp;r=G&amp;d="
                                     alt="小黑娃" width="32" height="32"/><cite><a href="http://xiaoheiwa.com/"
                                                                                rel="external nofollow" target="_blank">小黑娃</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-10 at 16:53</time>
                            </div>
                            <div class="comment-content">
                                <p>如何建一个照片集页面？</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1166#respond-page-6"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1166', 1166);">回复</a>
                            </div>
                        </div>
                    </li>
                    <li id="li-comment-1164" class="comment-body comment-parent comment-odd">
                        <div id="comment-1164">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/5988ddb905f83a4d5998c7bbb203f520?s=32&amp;r=G&amp;d="
                                     alt="随心所欲" width="32" height="32"/><cite><a href="http://suixinsuoyu.com"
                                                                                 rel="external nofollow"
                                                                                 target="_blank">随心所欲</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-08 at 21:16</time>
                            </div>
                            <div class="comment-content">
                                <p>博客速度有点惊人！！！！</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1164#respond-page-6"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1164', 1164);">回复</a>
                            </div>
                        </div>
                    </li>
                    <li id="li-comment-1154" class="comment-body comment-parent comment-even">
                        <div id="comment-1154">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/5db2a5b6c845d06b9613cc608f32521e?s=32&amp;r=G&amp;d="
                                     alt="小狐妖" width="32" height="32"/><cite><a href="http://xiaohuyao.cn/"
                                                                                rel="external nofollow" target="_blank">小狐妖</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-07 at 10:06</time>
                            </div>
                            <div class="comment-content">
                                <p>emmm老哥，我发现给文章的缩略图换成gif，在电脑打开博客就超级卡</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/guestbook.html/comment-page-1?replyTo=1154#respond-page-6"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1154', 1154);">回复</a>
                            </div>
                        </div>
                    </li>
                </ol>
                <ol class="page-navigator">
                    <li class="current"><a href="https://www.offodd.com/guestbook.html/comment-page-1#comments">1</a>
                    </li>
                    <li><span>..</span></li>
                    <li><a href="https://www.offodd.com/guestbook.html/comment-page-5#comments">5</a></li>
                    <li class="next"><a href="https://www.offodd.com/guestbook.html/comment-page-2#comments">下一页</a>
                    </li>
                </ol>
                <div id="respond-page-6" class="respond">
                    <div class="cancel-comment-reply">
                        <a id="cancel-comment-reply-link" href="https://www.offodd.com/guestbook.html#respond-page-6"
                           rel="nofollow" style="display:none" onclick="return TypechoComment.cancelReply();">取消回复</a>
                    </div>
                    <h3 id="response">添加新评论</h3>
                    <form method="post" action="https://www.offodd.com/guestbook.html/comment" id="comment-form"
                          class="comment-form clearfix">
                        <p class="textarea">
                            <textarea name="text" id="textarea" placeholder="加入讨论..." required></textarea>
                        </p>
                        <p class="textbutton">
                            <input type="text" name="author" id="author" class="text" placeholder="称呼 *" value=""
                                   required/>
                            <input type="email" name="mail" id="mail" class="text" placeholder="邮箱 *" value=""
                                   required/>
                            <input type="url" name="url" id="url" class="text" placeholder="http://" value=""/>
                            <button type="submit" class="submit">提交评论</button>
                        </p>
                    </form>
                </div>
                <script>(function () {
                    window.TypechoComment = {
                        dom: function (id) {
                            return document.getElementById(id)
                        }, create: function (tag, attr) {
                            var el = document.createElement(tag);
                            for (var key in attr) {
                                el.setAttribute(key, attr[key])
                            }
                            return el
                        }, reply: function (cid, coid) {
                            var comment = this.dom(cid), parent = comment.parentNode,
                                response = this.dom('respond-page-6'), input = this.dom('comment-parent'),
                                form = 'form' == response.tagName ? response : response.getElementsByTagName('form')[0],
                                textarea = response.getElementsByTagName('textarea')[0];
                            if (null == input) {
                                input = this.create('input', {
                                    'type': 'hidden',
                                    'name': 'parent',
                                    'id': 'comment-parent'
                                });
                                form.appendChild(input)
                            }
                            input.setAttribute('value', coid);
                            if (null == this.dom('comment-form-place-holder')) {
                                var holder = this.create('div', {'id': 'comment-form-place-holder'});
                                response.parentNode.insertBefore(holder, response)
                            }
                            comment.appendChild(response);
                            this.dom('cancel-comment-reply-link').style.display = '';
                            if (null != textarea && 'text' == textarea.name) {
                                textarea.focus()
                            }
                            return false
                        }, cancelReply: function () {
                            var response = this.dom('respond-page-6'), holder = this.dom('comment-form-place-holder'),
                                input = this.dom('comment-parent');
                            if (null != input) {
                                input.parentNode.removeChild(input)
                            }
                            if (null == holder) {
                                return true
                            }
                            this.dom('cancel-comment-reply-link').style.display = 'none';
                            holder.parentNode.insertBefore(response, holder);
                            return false
                        }
                    }
                })();</script>
            </div>
        </div>
        <!--右侧栏-->
        @include("/templates/views/menu.html"){}
    </div>
</div>
@include("/templates/views/footer.html"){}
</body>
</html>