<!DOCTYPE html>
@directive dynamic menuresult;
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/templates/static/image/favicon.ico"/>
    <title>Million - 在思想边缘挖掘的少数派</title>
    <meta name="description" content="Million的博客，有点不同，记录我的生活，分享一些经历与心得。"/>
    <meta name="keywords" content="Million's Blog"/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
</head>
<body class="head-fixed">
<!--[if lt IE 9]>
<div class="browsehappy">当前网页可能 <strong>不支持</strong> 您正在使用的浏览器. 为了正常的访问, 请 <a
        href="https://browsehappy.com/">升级您的浏览器</a>.
</div>
<![endif]-->
<header id="header">
    <div class="container clearfix">
        <div class="site-name">
            <h1>
                <a id="logo" href="/">Million's Blog</a>
            </h1>
        </div>
        <script>
            function Navswith() {
                document.getElementById("header").classList.toggle("on")
            }
        </script>
        <button id="nav-swith" onclick="Navswith()"><span></span></button>
        <div id="nav">
            <div id="site-search">
                <form id="search" method="post" action="/">
                    <input type="text" class="text" placeholder="输入关键字搜索" required/>
                    <button type="submit"></button>
                </form>
            </div>
            <ul class="nav-menu">
                <li><a href="/">首页</a></li>
                <li class="menu-parent"><a>分类</a>
                    <ul>
                        @var list = menuresult.dataWrapper.headTypes;
                        @for(var type in list) {
                            <li><a href="/${type.id}" title="${type.name}">${type.name}</a></li>
                        @}
                    </ul>
                </li>
                <li><a href="/archives" title="归档">归档</a></li>
                <li><a href="/guestbook" title="留言">留言</a></li>
                <li><a href="/links" title="链接">链接</a></li>
                <li><a href="/about" title="关于">关于</a></li>
                @var islogin = menuresult.dataWrapper.isLogin!;
                @if(islogin!) {
                    <li><a href="/read" title="发布博客">发布博客</a></li>
                @}
            </ul>
        </div>
    </div>
</header>
</body>
</html>