<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>链接 - Million</title>
    <meta name="description"
          content="本站信息站点名称：Million站点链接：https://www.millionblog.top/站点描述：Million的博客 | 有点不同站点图标：https://www.millionblog.com/"/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
    <script src="/templates/static/js/jquery.min.js"></script>
    <script src="/templates/static/js/jquery.pjax.min.js"></script>
</head>
<body class="head-fixed">
@include("/templates/views/header.html"){}
<div id="body">
    <div class="container clearfix">
        <div id="main">
            <div class="breadcrumbs">
                <a href="https://www.offodd.com/">首页</a> &raquo; 链接
            </div>
            <article class="post">
                <h1 class="post-title"><a href="https://www.offodd.com/links.html">链接</a></h1>
                <div class="post-content">
                    <h2>本站信息</h2>
                    <blockquote><p>站点名称：OFFODD<br>站点链接：https://www.offodd.com/<br>站点描述：JIElive的博客 | 有点不同<br>站点图标：https://www.offodd.com/logo.png
                    </p></blockquote>
                    <p><strong>申请友链的朋友请按照以上格式发出申请，申请前请确保您已添加本站为友链，24小时内回复。</strong></p>
                    <hr>
                    <p>本站友链默认显示位置为内页（即本页），若要在全站（页脚或侧栏）显示，希望贵站把我的链接也放在首页，大佬站点可以无视这一点🤣</p>
                    <p>
                        本站链接显示的站点图标为<code>你的域名/favicon.ico</code>，此为所有浏览器默认的获取站点图标的方式，只需在您的网站文件根目录放置<code>favicon.ico</code>图标文件即可，建议大家规范设置，若获取失败则显示为“★”。
                    </p>
                    <hr>
                    <ul class="links">
                        <script>function erroricon(obj) {
                            var a = obj.parentNode, i = document.createElement("i");
                            i.appendChild(document.createTextNode("★"));
                            a.removeChild(obj);
                            a.insertBefore(i, a.childNodes[0])
                        }</script>
                        <li><a href="https://www.jielive.cn" class="l_logo" title="记录点滴" target="_blank"><img
                                src="https://www.jielive.cn/favicon.ico" onerror="erroricon(this)"><span>JIElive</span></a>
                        </li>
                        <li><a href="https://qqdie.com" class="l_logo" title="" target="_blank"><img
                                src="https://qqdie.com/favicon.ico" onerror="erroricon(this)"><span>QQ爹博客</span></a>
                        </li>
                        <li><a href="https://linsan.net" class="l_logo" title="" target="_blank"><img
                                src="https://linsan.net/favicon.ico" onerror="erroricon(this)"><span>林三在线</span></a>
                        </li>
                        <li><a href="https://kisxy.com" class="l_logo" title="小宇博客 - 没有什么会永垂不朽" target="_blank"><img
                                src="https://kisxy.com/favicon.ico" onerror="erroricon(this)"><span>小宇</span></a></li>
                        <li><a href="https://black1ce.com" class="l_logo" title="黑驿测不止于评测，海量工具相应教程应有尽有" target="_blank"><img
                                src="https://black1ce.com/favicon.ico" onerror="erroricon(this)"><span>黑冰技术站</span></a>
                        </li>
                        <li><a href="https://heitaosan.com" class="l_logo" title="不玩扑克、玩博客。" target="_blank"><img
                                src="https://heitaosan.com/favicon.ico" onerror="erroricon(this)"><span>黑桃三</span></a>
                        </li>
                        <li><a href="https://www.cainiaoriji.com" class="l_logo" title="一个网络菜鸟的成长日记"
                               target="_blank"><img src="https://www.cainiaoriji.com/favicon.ico"
                                                    onerror="erroricon(this)"><span>菜鸟日记</span></a></li>
                        <li><a href="https://www.ljie.org" class="l_logo" title="密涅瓦的猫头鹰在黄昏起飞" target="_blank"><img
                                src="https://i.loli.net/2018/12/29/5c26869e6a816.jpg" onerror="erroricon(this)"><span>李杰的博客</span></a>
                        </li>
                        <li><a href="https://suishai.com" class="l_logo" title="栖冲业简，随心而晒" target="_blank"><img
                                src="https://suishai.com/favicon.ico" onerror="erroricon(this)"><span>随晒</span></a></li>
                        <li><a href="https://muayang.com" class="l_logo" title="一个未被发现，充满未知的维度" target="_blank"><img
                                src="https://muayang.com/logo.jpg"
                                onerror="erroricon(this)"><span>Unknown Dimensions</span></a></li>
                        <li><a href="https://blog.fsky7.com" class="l_logo" title="每个人的裂痕，最后都会变成故事的花纹。" target="_blank"><img
                                src="https://blog.fsky7.com/favicon.ico" onerror="erroricon(this)"><span>FlyingSky's Blog</span></a>
                        </li>
                        <li><a href="https://xiaohuyao.cn" class="l_logo" title="I am fine！" target="_blank"><img
                                src="https://xiaohuyao.cn/favicon.ico" onerror="erroricon(this)"><span>小狐妖博客</span></a>
                        </li>
                        <li><a href="http://www.makedream.site" class="l_logo" title="" target="_blank"><img
                                src="http://www.makedream.site/favicon.ico"
                                onerror="erroricon(this)"><span>织梦</span></a></li>
                        <li><a href="https://www.huang-ln.cn" class="l_logo" title="记录生活，记录爱情！" target="_blank"><img
                                src="https://www.huang-ln.cn/favicon.ico"
                                onerror="erroricon(this)"><span>阿飞博客</span></a></li>
                        <li><a href="http://www.shixiaojin.com" class="l_logo" title="我只想做一个简单的人!" target="_blank"><img
                                src="https://shixiaojin.com/img/logo.jpg" onerror="erroricon(this)"><span>小狮子</span></a>
                        </li>
                        <li><a href="https://flyqsx.top" class="l_logo" title="七色心|博客" target="_blank"><img
                                src="https://flyqsx.top/favicon.ico" onerror="erroricon(this)"><span>flyqsx</span></a>
                        </li>
                        <li><a href="https://oitonghua.com" class="l_logo" title="童话-记录时间记录你" target="_blank"><img
                                src="https://oitonghua.com/favicon.ico" onerror="erroricon(this)"><span>童话</span></a>
                        </li>
                        <li><a href="https://eblog.ink" class="l_logo" title="Eric's Blog" target="_blank"><img
                                src="https://eblog.ink/favicon.ico"
                                onerror="erroricon(this)"><span>Eric's Blog</span></a></li>
                        <li><a href="https://www.zheli.ink" class="l_logo" title="如今你的气质里，藏着你走过的路，读过的书和爱过的人"
                               target="_blank"><img src="https://www.zheli.ink/favicon.ico"
                                                    onerror="erroricon(this)"><span>这里</span></a></li>
                        <li><a href="https://www.yifer97.cn" class="l_logo" title="YiferHuang的博客" target="_blank"><img
                                src="https://www.yifer97.cn/favicon.ico"
                                onerror="erroricon(this)"><span>YiferHuang</span></a></li>
                        <li><a href="https://timelate.com" class="l_logo" title="A MAN RUN WITH TIME"
                               target="_blank"><img src="https://timelate.com/favicon.ico"
                                                    onerror="erroricon(this)"><span>TIMELATE</span></a></li>
                        <li><a href="https://jonycai.com" class="l_logo" title="JonyCai'S Blog" target="_blank"><img
                                src="https://jonycai.com/favicon.ico"
                                onerror="erroricon(this)"><span>JonyCai'S Blog</span></a></li>
                        <li><a href="https://www.52ggb.cn" class="l_logo" title="YuanFang不会秃头" target="_blank"><img
                                src="https://www.52ggb.cn/favicon.ico" onerror="erroricon(this)"><span>远方's Blog</span></a>
                        </li>
                        <li><a href="http://www.sirit.com.cn" class="l_logo" title="大嘴狗的博客 | 真正的幸福在于对平淡生活的热爱"
                               target="_blank"><img src="http://www.sirit.com.cn/siritlogo.png"
                                                    onerror="erroricon(this)"><span>大嘴狗的小空间</span></a></li>
                        <li><a href="https://kiwiape.cn" class="l_logo" title="希望你的坚持都是因为热爱，而不是不甘" target="_blank"><img
                                src="https://kiwiape.cn/favicon.ico" onerror="erroricon(this)"><span>猕猴の那年记忆</span></a>
                        </li>
                        <li><a href="https://www.kunlunqiu.com" class="l_logo" title="分享高质量的网站" target="_blank"><img
                                src="https://www.kunlunqiu.com/favicon.ico"
                                onerror="erroricon(this)"><span>昆仑丘</span></a></li>
                        <li><a href="https://t.duanziwang.com" class="l_logo" title="美文与对联" target="_blank"><img
                                src="https://t.duanziwang.com/favicon.ico"
                                onerror="erroricon(this)"><span>静水流深</span></a></li>
                        <li><a href="https://www.nanlon.cn" class="l_logo" title="nanlon.cn｜分享 · 纪录"
                               target="_blank"><img src="https://www.nanlon.cn/favicon.ico"
                                                    onerror="erroricon(this)"><span>Nanlon</span></a></li>
                        <li><a href="https://www.liuxinggang.com" class="l_logo" title="刘兴刚的个人博客" target="_blank"><img
                                src="https://www.liuxinggang.com/favicon.ico"
                                onerror="erroricon(this)"><span>刘兴刚博客</span></a></li>
                        <li><a href="https://www.eyuyun.com" class="l_logo" title="有格调的技术部落" target="_blank"><img
                                src="https://www.eyuyun.com/favicon.ico"
                                onerror="erroricon(this)"><span>E语云博客</span></a></li>
                        <li><a href="http://blog.clso.fun" class="l_logo" title="Just For Fun" target="_blank"><img
                                src="http://blog.clso.fun/favicon.ico"
                                onerror="erroricon(this)"><span>二笔青年の博客</span></a></li>
                        <li><a href="https://ieecy.cn" class="l_logo" title="异次元某个沉寂的土地(￣▽￣)" target="_blank"><img
                                src="https://ieecy.cn/favicon.ico" onerror="erroricon(this)"><span>魄筱's Blog</span></a>
                        </li>
                        <li><a href="https://yamadie.net" class="l_logo" title="精品软件、良心软件免费下载网" target="_blank"><img
                                src="https://yamadie.net/favicon.ico"
                                onerror="erroricon(this)"><span>YAMADIE软件</span></a></li>
                    </ul>
                    <div style="clear:left;"></div>
                </div>
            </article>
            <div id="comments">
                <h3>已有 <span class="comment-num">87</span> 条评论</h3>
                <ol class="comment-list">
                    <li id="li-comment-1354" class="comment-body comment-parent comment-odd">
                        <div id="comment-1354">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/572c1fc37e19cf9ef663d45de3200c3d?s=32&amp;r=G&amp;d="
                                     alt="YAMADIE" width="32" height="32"/><cite><a href="https://yamadie.net"
                                                                                    rel="external nofollow"
                                                                                    target="_blank">YAMADIE</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-28 at 14:29</time>
                            </div>
                            <div class="comment-content">
                                <p>可以跟大佬换链不</p>
                                <p>名称：YAMADIE精选软件</p>
                                <p>链接：https://yamadie.net</p>
                                <p>简介：精品软件、良心软件免费下载网</p>
                                <p>
                                    LOGO：https://secure.gravatar.com/avatar/572c1fc37e19cf9ef663d45de3200c3d?s=65&r=G&d=</p>
                                <p>已添加贵站</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1354#respond-page-4"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1354', 1354);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1367"
                                    class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                    <div id="comment-1367">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-03-02 at 09:12</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>已添加</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1367#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1367', 1367);">回复</a></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li id="li-comment-1339" class="comment-body comment-parent comment-even">
                        <div id="comment-1339">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/deb4a2a693f3a01ffb1ec39994afc30d?s=32&amp;r=G&amp;d="
                                     alt="CLSOFUN" width="32" height="32"/><cite><a href="http://blog.clso.fun"
                                                                                    rel="external nofollow"
                                                                                    target="_blank">CLSOFUN</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-24 at 17:35</time>
                            </div>
                            <div class="comment-content">
                                <p>感谢大佬的主题，真的NB！<br>新站申请一个友链！</p>
                                <p>站点名称：二笔青年の博客<br>站点地址：http://blog.clso.fun<br>站点说明：Just For Fun<br>站点图标：http://blog.clso.fun/favicon.ico
                                </p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1339#respond-page-4"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1339', 1339);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1344"
                                    class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                    <div id="comment-1344">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-25 at 08:03</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>已添加</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1344#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1344', 1344);">回复</a></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li id="li-comment-1333" class="comment-body comment-parent comment-odd">
                        <div id="comment-1333">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/b30c84558e19e09c7d3da2e640eae176?s=32&amp;r=G&amp;d="
                                     alt="魄筱" width="32" height="32"/><cite><a href="http://ieecy.cn/"
                                                                               rel="external nofollow" target="_blank">魄筱</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-23 at 07:57</time>
                            </div>
                            <div class="comment-content">
                                <p>站点名称：魄筱's Blog<br>站点链接：http://ieecy.cn/<br>站点描述：异次元某个沉寂的土地(￣▽￣)／<br>站点图标：https://ws3.sinaimg.cn/large/007pr7YZgy1fzjclhwj95j309q09qq3h
                                </p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1333#respond-page-4"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1333', 1333);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1343"
                                    class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                    <div id="comment-1343">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-25 at 08:03</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>已添加</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1343#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1343', 1343);">回复</a></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li id="li-comment-1322" class="comment-body comment-parent comment-even">
                        <div id="comment-1322">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/e11dffb02c8efd8228ffc871d4d57412?s=32&amp;r=G&amp;d="
                                     alt="E语云博客" width="32" height="32"/><cite><a href="https://www.eyuyun.com"
                                                                                  rel="external nofollow"
                                                                                  target="_blank">E语云博客</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-21 at 17:29</time>
                            </div>
                            <div class="comment-content">
                                <p>站点名称：E语云博客<br>站点地址：https://www.eyuyun.com<br>站点描述：有格调的技术部落<br>站点图标：https://file.eyuyun.com/usr/uploads/icon.ico
                                </p>
                                <p>已添加dalao。</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1322#respond-page-4"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1322', 1322);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1325"
                                    class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                    <div id="comment-1325">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-22 at 07:39</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>已添加</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1325#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1325', 1325);">回复</a></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li id="li-comment-1280" class="comment-body comment-parent comment-odd">
                        <div id="comment-1280">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/f309a64ce8afa8b4cf33f255ae3c0001?s=32&amp;r=G&amp;d="
                                     alt="刘兴刚" width="32" height="32"/><cite><a href="https://www.liuxinggang.com"
                                                                                rel="external nofollow" target="_blank">刘兴刚</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-19 at 20:05</time>
                            </div>
                            <div class="comment-content">
                                <p>站点名称： 刘兴刚博客<br>站点链接：https://www.liuxinggang.com/<br>站点描述：刘兴刚的个人博客<br>站点图标：https://www.liuxinggang.com/favicon.ico<br>已添加贵站友联
                                </p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1280#respond-page-4"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1280', 1280);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1299"
                                    class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                    <div id="comment-1299">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-20 at 10:44</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>已添加</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1299#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1299', 1299);">回复</a></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li id="li-comment-1229" class="comment-body comment-parent comment-even">
                        <div id="comment-1229">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/bb07c773cfd8882e88446cbe0ce1efe7?s=32&amp;r=G&amp;d="
                                     alt="青鱼" width="32" height="32"/><cite><a href="https://aqyu.cn"
                                                                               rel="external nofollow" target="_blank">青鱼</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-16 at 19:48</time>
                            </div>
                            <div class="comment-content">
                                <p>请求删除 青鱼 友链。本人不小心清除了服务器，且无备份！彻底凉凉了</p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1229#respond-page-4"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1229', 1229);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1298"
                                    class="comment-body comment-child comment-level-odd comment-even comment-by-author">
                                    <div id="comment-1298">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-20 at 10:44</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>好的</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1298#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1298', 1298);">回复</a></div>
                                    </div>
                                </li>
                                <li id="li-comment-1239"
                                    class="comment-body comment-child comment-level-odd comment-odd">
                                    <div id="comment-1239">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/9924cdad2140a9f8570393bfebe411a8?s=32&amp;r=G&amp;d="
                                                 alt="枂下" width="32" height="32"/><cite><a href="https://black1ce.com/"
                                                                                           rel="external nofollow"
                                                                                           target="_blank">枂下</a></cite>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-17 at 12:20</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>一首凉凉送给你，可怕</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1239#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1239', 1239);">回复</a></div>
                                    </div>
                                    <div class="comment-children">
                                        <ol class="comment-list">
                                            <li id="li-comment-1274"
                                                class="comment-body comment-child comment-level-even comment-odd">
                                                <div id="comment-1274">
                                                    <div class="comment-author">
                                                        <img class="avatar"
                                                             src="https://cdn.v2ex.com/gravatar/bb07c773cfd8882e88446cbe0ce1efe7?s=32&amp;r=G&amp;d="
                                                             alt="青鱼" width="32" height="32"/><cite><a
                                                            href="https://decf.cn" rel="external nofollow"
                                                            target="_blank">青鱼</a></cite>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <time>2019-02-19 at 16:01</time>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>哈哈，不怕。在哪跌倒，在哪爬起来！</p></div>
                                                    <div class="comment-reply">
                                                        <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1274#respond-page-4"
                                                           rel="nofollow"
                                                           onclick="return TypechoComment.reply('comment-1274', 1274);">回复</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li id="li-comment-1221" class="comment-body comment-parent comment-odd">
                        <div id="comment-1221">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/22d8b2ad09bf3dc4e4c6f0ff3d25036c?s=32&amp;r=G&amp;d="
                                     alt="Nanlon" width="32" height="32"/><cite><a href="https://www.nanlon.cn"
                                                                                   rel="external nofollow"
                                                                                   target="_blank">Nanlon</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-16 at 10:55</time>
                            </div>
                            <div class="comment-content">
                                <p>站点名称：Nanlon<br>站点链接：https://www.nanlon.cn<br>站点描述：nanlon.cn｜分享 · 纪录<br>站点图标：https://www.nanlon.cn/favicon.ico
                                </p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1221#respond-page-4"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1221', 1221);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1297"
                                    class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                    <div id="comment-1297">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-20 at 10:44</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>已添加</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1297#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1297', 1297);">回复</a></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li id="li-comment-1211" class="comment-body comment-parent comment-even">
                        <div id="comment-1211">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/9b492aaec75dce0a103b2fc698f58a7f?s=32&amp;r=G&amp;d="
                                     alt="Mainrico" width="32" height="32"/><cite><a href="https://www.mainrico.xyz/"
                                                                                     rel="external nofollow"
                                                                                     target="_blank">Mainrico</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-15 at 21:30</time>
                            </div>
                            <div class="comment-content">
                                <p>站点名称：梅里众合<br>站点链接：https://www.mainrico.xyz/<br>站点描述：分享有价值的网站应用<br>站点图标：https://www.mainrico.xyz/favicon.png
                                </p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1211#respond-page-4"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1211', 1211);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1300"
                                    class="comment-body comment-child comment-level-odd comment-even">
                                    <div id="comment-1300">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/9b492aaec75dce0a103b2fc698f58a7f?s=32&amp;r=G&amp;d="
                                                 alt="Mainrico" width="32" height="32"/><cite><a
                                                href="https://www.kunlunqiu.com" rel="external nofollow"
                                                target="_blank">Mainrico</a></cite>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-20 at 10:50</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>站长你好，麻烦修改一下网站信息，换成的新的域名了。</p>
                                            <p>站点名称：昆仑丘<br>站点链接：https://www.kunlunqiu.com/<br>站点描述：分享高质量的网站<br>站点图标：https://www.kunlunqiu.com/favicon.ico
                                            </p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1300#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1300', 1300);">回复</a></div>
                                    </div>
                                    <div class="comment-children">
                                        <ol class="comment-list">
                                            <li id="li-comment-1304"
                                                class="comment-body comment-child comment-level-even comment-odd comment-by-author">
                                                <div id="comment-1304">
                                                    <div class="comment-author">
                                                        <img class="avatar"
                                                             src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                             alt="JIElive" width="32" height="32"/><cite><a
                                                            href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                                        <span class="author-icon">Author</span>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <time>2019-02-20 at 12:16</time>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>已修改</p></div>
                                                    <div class="comment-reply">
                                                        <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1304#respond-page-4"
                                                           rel="nofollow"
                                                           onclick="return TypechoComment.reply('comment-1304', 1304);">回复</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </li>
                                <li id="li-comment-1296"
                                    class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                    <div id="comment-1296">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-20 at 10:44</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>已添加</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1296#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1296', 1296);">回复</a></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li id="li-comment-1210" class="comment-body comment-parent comment-odd">
                        <div id="comment-1210">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/2671fd9446230a65c63d7f03532324af?s=32&amp;r=G&amp;d="
                                     alt="rocyhua" width="32" height="32"/><cite><a href="https://t.duanziwang.com/"
                                                                                    rel="external nofollow"
                                                                                    target="_blank">rocyhua</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-15 at 21:28</time>
                            </div>
                            <div class="comment-content">
                                <p>站点名称：静水流深<br>站点链接：https://t.duanziwang.com/<br>站点描述：美文与对联<br>站点图标：https://t.duanziwang.com/favicon.png
                                </p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1210#respond-page-4"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1210', 1210);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1295"
                                    class="comment-body comment-child comment-level-odd comment-even comment-by-author">
                                    <div id="comment-1295">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-20 at 10:44</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>已添加</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1295#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1295', 1295);">回复</a></div>
                                    </div>
                                </li>
                                <li id="li-comment-1294"
                                    class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                    <div id="comment-1294">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-20 at 10:44</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>已添加</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1294#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1294', 1294);">回复</a></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li id="li-comment-1190" class="comment-body comment-parent comment-even">
                        <div id="comment-1190">
                            <div class="comment-author">
                                <img class="avatar"
                                     src="https://cdn.v2ex.com/gravatar/3d7948706cb433dada91ac934b533b1e?s=32&amp;r=G&amp;d="
                                     alt="二九青年" width="32" height="32"/><cite><a href="http://www.yazoo.club"
                                                                                 rel="external nofollow"
                                                                                 target="_blank">二九青年</a></cite>
                            </div>
                            <div class="comment-meta">
                                <time>2019-02-14 at 18:28</time>
                            </div>
                            <div class="comment-content">
                                <p>站点名称：二九青年<br>站点地址：https://www.yazoo.club/<br>站点描述：爱生活爱折腾的热血青年<br>网站头像：https://www.yazoo.club/favicon.ico
                                </p></div>
                            <div class="comment-reply">
                                <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1190#respond-page-4"
                                   rel="nofollow" onclick="return TypechoComment.reply('comment-1190', 1190);">回复</a>
                            </div>
                        </div>
                        <div class="comment-children">
                            <ol class="comment-list">
                                <li id="li-comment-1293"
                                    class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                    <div id="comment-1293">
                                        <div class="comment-author">
                                            <img class="avatar"
                                                 src="https://cdn.v2ex.com/gravatar/6b09717c8ecadf889e270cd87bcd55b0?s=32&amp;r=G&amp;d="
                                                 alt="JIElive" width="32" height="32"/><cite><a
                                                href="https://www.offodd.com" rel="external nofollow">JIElive</a></cite>
                                            <span class="author-icon">Author</span>
                                        </div>
                                        <div class="comment-meta">
                                            <time>2019-02-20 at 10:44</time>
                                        </div>
                                        <div class="comment-content">
                                            <p>已添加</p></div>
                                        <div class="comment-reply">
                                            <a href="https://www.offodd.com/links.html/comment-page-1?replyTo=1293#respond-page-4"
                                               rel="nofollow"
                                               onclick="return TypechoComment.reply('comment-1293', 1293);">回复</a></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                </ol>
                <ol class="page-navigator">
                    <li class="current"><a href="https://www.offodd.com/links.html/comment-page-1#comments">1</a></li>
                    <li><span>..</span></li>
                    <li><a href="https://www.offodd.com/links.html/comment-page-4#comments">4</a></li>
                    <li class="next"><a href="https://www.offodd.com/links.html/comment-page-2#comments">下一页</a></li>
                </ol>
                <div id="respond-page-4" class="respond">
                    <div class="cancel-comment-reply">
                        <a id="cancel-comment-reply-link" href="https://www.offodd.com/links.html#respond-page-4"
                           rel="nofollow" style="display:none" onclick="return TypechoComment.cancelReply();">取消回复</a>
                    </div>
                    <h3 id="response">添加新评论</h3>
                    <form method="post" action="https://www.offodd.com/links.html/comment" id="comment-form"
                          class="comment-form clearfix">
                        <p class="textarea">
                            <textarea name="text" id="textarea" placeholder="加入讨论..." required></textarea>
                        </p>
                        <p class="textbutton">
                            <input type="text" name="author" id="author" class="text" placeholder="称呼 *" value=""
                                   required/>
                            <input type="email" name="mail" id="mail" class="text" placeholder="邮箱 *" value=""
                                   required/>
                            <input type="url" name="url" id="url" class="text" placeholder="http://" value=""/>
                            <button type="submit" class="submit">提交评论</button>
                        </p>
                    </form>
                </div>
                <script>(function () {
                    window.TypechoComment = {
                        dom: function (id) {
                            return document.getElementById(id)
                        }, create: function (tag, attr) {
                            var el = document.createElement(tag);
                            for (var key in attr) {
                                el.setAttribute(key, attr[key])
                            }
                            return el
                        }, reply: function (cid, coid) {
                            var comment = this.dom(cid), parent = comment.parentNode,
                                response = this.dom('respond-page-4'), input = this.dom('comment-parent'),
                                form = 'form' == response.tagName ? response : response.getElementsByTagName('form')[0],
                                textarea = response.getElementsByTagName('textarea')[0];
                            if (null == input) {
                                input = this.create('input', {
                                    'type': 'hidden',
                                    'name': 'parent',
                                    'id': 'comment-parent'
                                });
                                form.appendChild(input)
                            }
                            input.setAttribute('value', coid);
                            if (null == this.dom('comment-form-place-holder')) {
                                var holder = this.create('div', {'id': 'comment-form-place-holder'});
                                response.parentNode.insertBefore(holder, response)
                            }
                            comment.appendChild(response);
                            this.dom('cancel-comment-reply-link').style.display = '';
                            if (null != textarea && 'text' == textarea.name) {
                                textarea.focus()
                            }
                            return false
                        }, cancelReply: function () {
                            var response = this.dom('respond-page-4'), holder = this.dom('comment-form-place-holder'),
                                input = this.dom('comment-parent');
                            if (null != input) {
                                input.parentNode.removeChild(input)
                            }
                            if (null == holder) {
                                return true
                            }
                            this.dom('cancel-comment-reply-link').style.display = 'none';
                            holder.parentNode.insertBefore(response, holder);
                            return false
                        }
                    }
                })();</script>
            </div>
        </div>
        <!--右侧栏-->
        @include("/templates/views/menu.html"){}
    </div>
</div>
@include("/templates/views/footer.html"){}
</body>
</html>