<!DOCTYPE html>
@directive dynamic menuresult;
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/templates/static/image/favicon.ico"/>
    <title>Million - 在思想边缘挖掘的少数派</title>
    <meta name="description" content="Million的博客，有点不同，记录我的生活，分享一些经历与心得。"/>
    <meta name="keywords" content="Million's Blog"/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
</head>
<body class="head-fixed">
    <div id="secondary">
        <section class="widget">
            <h3 class="widget-title">热门文章</h3>
            <ul class="widget-list">
                @for(blog in menuresult.dataWrapper.menuBlogs) {
                    <li><a href="/blog/${blog.id}.html">${blog.title}</a></li>
                @}
            </ul>
        </section>
        <section class="widget">
            <h3 class="widget-title">最近留言</h3>
            <ul class="widget-list">
                @for(eval in menuresult.dataWrapper.menuEvals) {
                    <li><a href="${eval.weblink}"
                           title="来自: ${eval.weblink}" target="_blank">${eval.name}</a>: ${eval.content}…
                    </li>
                @}
            </ul>
        </section>
        <section class="widget">
            <h3 class="widget-title">标签</h3>
            <ul class="widget-tile">
                @for(label in menuresult.dataWrapper.menuLabels) {
                    <li><a href="/query?labelid=${label.id}">${label.name}</a></li>
                @}
            </ul>
        </section>
        <section class="widget">
            <h3 class="widget-title">其它</h3>
            <ul class="widget-list">
                <li><a href="https://www.offodd.com/feed/" target="_blank">文章 RSS</a></li>
                <li><a href="https://www.offodd.com/feed/comments/" target="_blank">评论 RSS</a></li>
            </ul>
        </section>
    </div>
</body>
</html>