<!DOCTYPE html>
@directive dynamic menuresult;
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/templates/static/image/favicon.ico"/>
    <title>Million - 在思想边缘挖掘的少数派</title>
    <meta name="description" content="Million的博客，有点不同，记录我的生活，分享一些经历与心得。"/>
    <meta name="keywords" content="Million's Blog"/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
</head>
<body class="head-fixed">
    <div id="secondary">
        <section class="widget">
            <h3 class="widget-title">热门文章</h3>
            <ul class="widget-list">
                @for(blog in menuresult.dataWrapper.menuBlogs) {
                    <li><a href="/blog/${blog.id}.html">${blog.title}</a></li>
                @}
            </ul>
        </section>
        <section class="widget">
            <h3 class="widget-title">最近留言</h3>
            <ul class="widget-list">
                @for(eval in menuresult.dataWrapper.menuEvals) {
                    <li><a href="${eval.weblink}"
                           title="来自: ${eval.weblink}">${eval.name}</a>: ${eval.content}…
                    </li>
                @}
                <li><a href="https://www.offodd.com/17.html/comment-page-1#comment-1416"
                       title="来自: Typecho主题 - Initial 简约而不简单（更新v2.4.3版）">小白</a>: 我添加了，又取消了，，，信息内容不多。，直接用顶置插件了…
                </li>
                <li><a href="https://www.offodd.com/17.html/comment-page-1#comment-1412"
                       title="来自: Typecho主题 - Initial 简约而不简单（更新v2.4.3版）">Nanlon</a>:
                    下版更新时能不能对css中的font-size使用rem，发现在...
                </li>
                <li><a href="https://www.offodd.com/17.html/comment-page-1#comment-1411"
                       title="来自: Typecho主题 - Initial 简约而不简单（更新v2.4.3版）">Sirit</a>: 哦，我看了代码，logo 和 title
                    不是同时显示的。我改成...
                </li>
                <li><a href="https://www.offodd.com/17.html/comment-page-1#comment-1410"
                       title="来自: Typecho主题 - Initial 简约而不简单（更新v2.4.3版）">Sirit</a>: ###自定义头部站点标题###
                    [ 大嘴狗的小空间 ]
                    >仅...
                </li>
                <li><a href="https://www.offodd.com/17.html/comment-page-1#comment-1409"
                       title="来自: Typecho主题 - Initial 简约而不简单（更新v2.4.3版）">Sirit</a>:
                    在iPad里safari浏览器点击分类，弹出菜单，点击菜单后页面...
                </li>
            </ul>
        </section>
        <section class="widget">
            <h3 class="widget-title">标签</h3>
            <ul class="widget-tile">
                @for(label in menuresult.dataWrapper.menuLabels) {
                    <li><a href="/query?labelid=${label.id}">${label.name}</a></li>
                @}
            </ul>
        </section>
        <section class="widget">
            <h3 class="widget-title">其它</h3>
            <ul class="widget-list">
                <li><a href="https://www.offodd.com/feed/" target="_blank">文章 RSS</a></li>
                <li><a href="https://www.offodd.com/feed/comments/" target="_blank">评论 RSS</a></li>
            </ul>
        </section>
    </div>
</body>
</html>