<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/templates/static/image/favicon.ico"/>
    <title>Million - 在思想边缘挖掘的少数派</title>
    <meta name="description" content="Million的博客，有点不同，记录我的生活，分享一些经历与心得。"/>
    <meta name="keywords" content="Million's Blog"/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
</head>
<body class="head-fixed">
    <div id="secondary">
        <section class="widget">
            <h3 class="widget-title">热门文章</h3>
            <ul class="widget-list">
                <li><a href="https://www.offodd.com/17.html">Typecho主题 - Initial 简约而不简单（更新v2.4.3版）</a></li>
                <li><a href="https://www.offodd.com/58.html">Initial主题简要使用指南</a></li>
                <li><a href="https://www.offodd.com/19.html">Markdown 简明语法手册</a></li>
                <li><a href="https://www.offodd.com/59.html">为Typecho主题集成链接功能（免插件实现友情链接功能）</a></li>
                <li><a href="https://www.offodd.com/76.html">为Typecho主题集成文章目录功能（免插件实现文章目录功能）</a></li>
            </ul>
        </section>
        <section class="widget">
            <h3 class="widget-title">最近回复</h3>
            <ul class="widget-list">
                <li><a href="https://www.offodd.com/17.html/comment-page-1#comment-1416"
                       title="来自: Typecho主题 - Initial 简约而不简单（更新v2.4.3版）">小白</a>: 我添加了，又取消了，，，信息内容不多。，直接用顶置插件了…
                </li>
                <li><a href="https://www.offodd.com/17.html/comment-page-1#comment-1412"
                       title="来自: Typecho主题 - Initial 简约而不简单（更新v2.4.3版）">Nanlon</a>:
                    下版更新时能不能对css中的font-size使用rem，发现在...
                </li>
                <li><a href="https://www.offodd.com/17.html/comment-page-1#comment-1411"
                       title="来自: Typecho主题 - Initial 简约而不简单（更新v2.4.3版）">Sirit</a>: 哦，我看了代码，logo 和 title
                    不是同时显示的。我改成...
                </li>
                <li><a href="https://www.offodd.com/17.html/comment-page-1#comment-1410"
                       title="来自: Typecho主题 - Initial 简约而不简单（更新v2.4.3版）">Sirit</a>: ###自定义头部站点标题###
                    [ 大嘴狗的小空间 ]
                    >仅...
                </li>
                <li><a href="https://www.offodd.com/17.html/comment-page-1#comment-1409"
                       title="来自: Typecho主题 - Initial 简约而不简单（更新v2.4.3版）">Sirit</a>:
                    在iPad里safari浏览器点击分类，弹出菜单，点击菜单后页面...
                </li>
            </ul>
        </section>
        <section class="widget">
            <h3 class="widget-title">标签</h3>
            <ul class="widget-tile">
                <li><a href="https://www.offodd.com/tag/Typecho/">Typecho</a></li>
                <li><a href="https://www.offodd.com/tag/%E5%8A%9F%E8%83%BD%E5%A2%9E%E5%BC%BA/">功能增强</a></li>
                <li><a href="https://www.offodd.com/tag/%E4%B8%BB%E9%A2%98/">主题</a></li>
                <li><a href="https://www.offodd.com/tag/%E9%9A%8F%E7%AC%94/">随笔</a></li>
                <li><a href="https://www.offodd.com/tag/%E4%BA%8B%E8%BF%B9/">事迹</a></li>
                <li><a href="https://www.offodd.com/tag/Initial/">Initial</a></li>
                <li><a href="https://www.offodd.com/tag/%E5%AD%A6%E4%B9%A0/">学习</a></li>
                <li><a href="https://www.offodd.com/tag/%E5%AD%A9%E5%AD%90/">孩子</a></li>
                <li><a href="https://www.offodd.com/tag/%E6%88%90%E9%95%BF/">成长</a></li>
                <li><a href="https://www.offodd.com/tag/%E5%B0%8F%E6%8A%80%E5%B7%A7/">小技巧</a></li>
                <li><a href="https://www.offodd.com/tag/%E7%BE%8E%E5%8C%96/">美化</a></li>
                <li><a href="https://www.offodd.com/tag/%E6%B3%A8%E6%84%8F/">注意</a></li>
                <li><a href="https://www.offodd.com/tag/%E5%84%BF%E5%AD%90/">儿子</a></li>
                <li><a href="https://www.offodd.com/tag/Markdown/">Markdown</a></li>
                <li><a href="https://www.offodd.com/tag/%E6%97%85%E6%B8%B8/">旅游</a></li>
                <li><a href="https://www.offodd.com/tag/%E8%8A%82%E6%97%A5/">节日</a></li>
                <li><a href="https://www.offodd.com/tag/%E6%95%99%E8%AE%AD/">教训</a></li>
                <li><a href="https://www.offodd.com/tag/%E6%9C%8D%E5%8A%A1%E5%99%A8/">服务器</a></li>
                <li><a href="https://www.offodd.com/tag/%E7%8C%AB/">猫</a></li>
                <li><a href="https://www.offodd.com/tag/%E5%AE%A0%E7%89%A9/">宠物</a></li>
                <li><a href="https://www.offodd.com/tag/Console/">Console</a></li>
                <li><a href="https://www.offodd.com/tag/%E5%AE%B6/">家</a></li>
                <li><a href="https://www.offodd.com/tag/%E8%AF%B4%E6%98%8E/">说明</a></li>
                <li><a href="https://www.offodd.com/tag/%E7%BB%8F%E9%AA%8C/">经验</a></li>
                <li><a href="https://www.offodd.com/tag/%E7%AC%94%E8%AE%B0/">笔记</a></li>
            </ul>
        </section>
        <section class="widget">
            <h3 class="widget-title">其它</h3>
            <ul class="widget-list">
                <li><a href="https://www.offodd.com/feed/" target="_blank">文章 RSS</a></li>
                <li><a href="https://www.offodd.com/feed/comments/" target="_blank">评论 RSS</a></li>
            </ul>
        </section>
    </div>
</body>
</html>