<!DOCTYPE html>
@directive dynamic result,menuresult,evaluatemsg;
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/templates/static/image/favicon.ico"/>
    <title>轻语 - MILLION</title>
    <meta name="description" content="轻语"/>
    <link rel="stylesheet" href="/templates/static/css/style.min.css"/>
    <script src="/templates/static/js/jquery.min.js"></script>
    <script src="/templates/static/js/jquery.pjax.min.js"></script>
</head>
<body class="head-fixed">
@include("/templates/views/header.html"){}
<div id="body">
    <div class="container clearfix">
        <div id="main">
            <div class="breadcrumbs">
                <a href="https://www.offodd.com/">首页</a> &raquo; 轻语
            </div>
            <article class="post">
                <h1 class="post-title"><a href="https://www.offodd.com/whisper.html">轻语</a></h1>
                <div class="post-content">
                    <p><img src="//static.offodd.com/uploads/2018/12/229367985.jpg" alt="" title=""></p></div>
            </article>
            <div class="whisper">
                @var whispers = result.dataWrapper.datas;
                @if(whispers.~size > 0) {
                <ol class="comment-list">
                    @for(var whisper in whispers) {
                    <li class="whisper-body comment-by-author" style="border:1px solid #eee;">
                        <div>
                            <div class="comment-author">
                                <img class="avatar" src="${whisper.headimg}" alt="${whisper.username}" width="32" height="32"/>
                                <cite>${whisper.username}</cite>
                            </div>
                            <div class="comment-content">
                                <p>${whisper.content}</p>
                            </div>
                            <div class="comment-meta">
                                <time>${whisper.createtime}</time>
                                <a class="whisper-reply" rel="nofollow" onclick="TypechoComment.reply(this)">评论</a>
                            </div>
                            <!-- 回复 -->
                            <div class="respond" style="display:none;">
                                <div class="cancel-comment-reply">
                                    <a class="whisper-reply" rel="nofollow" onclick="TypechoComment.cancelReply(this);">取消回复</a>
                                </div>
                                <h3>添加新评论</h3>
                                <form class="comment-form clearfix">
                                    <p class="textarea">
                                        <textarea name="content" placeholder="加入讨论..." required></textarea>
                                    </p>
                                    <p class="textbutton">
                                        @if(menuresult.dataWrapper.isLogin) {
                                            <input type="hidden" name="isuser" value="1"/>
                                        @} else {
                                            <input type="hidden" name="isuser" value="0"/>
                                        @}
                                        <input type="hidden" name="blogid" value="${whisper.id}"/>
                                        <input type="hidden" name="type" value="5"/>
                                        <input type="hidden" name="firstevalid" value="0"/>
                                        <input type="text" name="name" class="text" placeholder="称呼 *" value="${evaluatemsg.name}" required/>
                                        <input type="email" name="email" class="text" placeholder="邮箱 *" value="${evaluatemsg.email}" required/>
                                        <input type="url" name="weblink" class="text" placeholder="http://" value="${evaluatemsg.weblink}"/>
                                        <button type="button" class="submit" onclick="TypechoComment.evaluate(this)">提交评论</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- 子节点 -->
                        @for(var e in whisper.voWhisperEvaluateList!) {
                        <div class="comment-children">
                            <ol class="comment-list">
                                    @if(e.isuser == "1") {
                                        <li class="comment-body comment-child comment-level-even comment-odd comment-by-author">
                                    @} else {
                                        <li class="comment-body comment-child comment-level-even comment-odd">
                                    @}
                                    <div>
                                        <div class="comment-author">
                                            <img class="avatar" src="${e.headimg}" alt="${e.username}" width="32" height="32"/>
                                            <cite>
                                                @if(e.webLink == null || e.webLink == '') {
                                                ${e.username}
                                                @} else {
                                                <a href="${e.webLink!}" rel="external nofollow" target="_blank">${e.username}</a>
                                                @}
                                            </cite>
                                            @if(e.isuser == "1") {
                                                <span class="author-icon">Author</span>
                                            @}
                                        </div>
                                        <div class="comment-content">
                                            <p>${e.content}</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        @}
                    </li>
                    @}
                </ol>
                <ol class="page-navigator">
                    @if(result.page > 1) {
                        <li class="next"><a href="/guestbook?page=${result.page-1}">上一页</a>
                    @}
                    @for(var i = result.page - 2; i <= result.page + 2; i++) {
                        @if(i>=1 && i<=result.totalpage) {
                            @if(i == result.page) {
                                <li class="current"><a>${i}</a></li>
                            @} else {
                                <li><a href="/guestbook?page=${i}">${i}</a></li>
                            @}
                        @}
                    @}
                    @if(result.page < result.totalpage) {
                        <li class="next"><a href="/guestbook?page=${result.page+1}">下一页</a>
                    @}
                </ol>
                @}
            </div>
            @var islogin = menuresult.dataWrapper.isLogin!;
            @if(islogin!) {
                <div class="respond">
                    <h3>编写轻语</h3>
                    <form class="comment-form clearfix">
                        <p class="textarea">
                            <textarea name="content" placeholder="说点什么..." required></textarea>
                        </p>
                        <p class="textbutton">
                            <input type="text" name="author" class="text" placeholder="称呼 *" value=""
                                   required/>
                            <input type="email" name="mail" class="text" placeholder="邮箱 *" value=""
                                   required/>
                            <input type="url" name="url" class="text" placeholder="http://" value=""/>
                            <button type="button" class="submit" onclick="TypechoComment.whisper(this)">提交</button>
                        </p>
                    </form>
                </div>
            @}
        </div>
        <!--右侧栏-->
        @include("/templates/views/menu.html"){}
    </div>
</div>
@include("/templates/views/footer.html"){}
<script>(function () {
    window.TypechoComment = {
        //获取dom
        dom: function (id) {
            return document.getElementById(id)
            //创建回复窗口
        }, create: function (tag, attr) {
            var el = document.createElement(tag);
            for (var key in attr) {
                el.setAttribute(key, attr[key])
            }
            return el
            //显示回复窗口
        }, reply: function (obj) {
            $(obj).parent().next().css("display", "block");
            //影藏窗口
        }, cancelReply: function (obj) {
            $(obj).parent().parent().css("display", "none");
        }, evaluate: function (obj) {
            var data = $(obj).parent().parent().serialize();
            $.ajax({
                url: "/eval/commentMessage",
                data: data,
                type: "post",
                success : function (result) {
                    alert(result.msg);
                    if(result.success) {
                        window.location.reload();
                    }
                }
            })
        }, whisper : function (obj) {
            var data = $(obj).parent().parent().serialize();
            $.ajax({
                url: "/whisper/publishWhisper",
                data: data,
                type: "post",
                success : function (result) {
                    alert(result.msg);
                    if(result.success) {
                        window.location.reload();
                    }
                }
            })
        }
    }
})();</script>
</body>
</html>